
.map__container
    display: grid
    grid-template-columns: 0.5fr 1fr
.map__container__map
    border-left: 1px solid #e0e0e0
.connection__server
    align-self: center
.patient__info
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 1rem
.text__info
    display: flex
    flex-direction: column
    justify-content: center
    gap: 0.5rem
    h1, h2, h3
        margin-top: 0
        margin-bottom: 0
.loading__container
    align-self: center
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
.ambulance__info
    align-self: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.chat__container
    display: flex
    width: 100%
.input__container
    display: flex
    justify-content: center
    flex-direction: column
    gap: 1rem
    margin: 1rem 0
    width: 100%
    input
        padding: 0.5rem
        border: 1px solid #e0e0e0
        border-radius: 0.5rem
        outline: none
.messages__history
    display: flex
    flex-direction: column
    gap: 1rem
    padding: 1rem
    overflow-y: scroll
    height: 8rem
    padding: 1rem
    border: 1px solid #e0e0e0
.message__item
    display: flex
    flex-direction: column
    gap: 0.5rem
    padding: 0.5rem
    border-radius: 0.2rem
    max-width: 50%
    span
        margin: 0
        font-size: 0.8rem
.my__message
    align-self: flex-end
    background-color: #e0e0e0
.patient__message
    align-self: flex-start
    background-color: #f5f5f5
.patient__title,.ambulance__title
    display: flex
    flex-direction: row
    align-items: center
    justify-items: center
